<section class="bg-light p-3">

  <p class="fs-1">REGISTRO DE PERSONAS</p>

  <app-reg-hijo [los_datos_recibidos]="objeto_de_datos" *ngIf="seccionseve== true"></app-reg-hijo>

  <form>
    <label for="nombre">NOMBRE:</label>
    <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control">

    <label for="dni">DNI:</label>
    <input type="text" name="dni" [(ngModel)]="dni" class="form-control">

    <label for="estadoCivil">ESTADO CIVIL:</label>
    <input type="text" name="estadoCivil" [(ngModel)]="estadoc" class="form-control">

    <input type="button" value="Enviar" (click)="Recolectar()" class="btn btn-primary">
  </form>

</section>